<div class="container">
  <div class="row">
    
<div class="col-md-6">
    <mat-card>
  <mat-icon>videocam</mat-icon> &nbsp;<span>Video Form</span>
  <div class="example-container">
  
      <mat-form-field>
         <input matInput placeholder="Enter Id">
      </mat-form-field>
  <br/>
      <mat-form-field>
         <input matInput placeholder="Title">
      </mat-form-field>
<br/>
      <mat-form-field>
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
<br/>
        <mat-form-field>
            <mat-select placeholder="Category">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
<br/>
      <mat-form-field>
         <input matInput placeholder="Thumbnail url">
      </mat-form-field>
      <br/>
      <mat-form-field>
          <mat-select placeholder="Category">
            <mat-option value="option">opt</mat-option>
          </mat-select>
        </mat-form-field>
      
        <mat-card-actions>
            <button  mat-raised-button color="primary">LIKE</button>
          </mat-card-actions>
    </div>
  <hr>
</mat-card>
</div>
<div class="col-md-6">
    <mat-card>
  <mat-icon>videocam</mat-icon> &nbsp;<span> APPLY SEO </span>
  <div class="example-container">
  
      <mat-form-field>
         <input matInput placeholder="Enter Tag">
      </mat-form-field>
  <br/>
   
        <mat-form-field>
            <mat-select placeholder="Category">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-card-actions>
              <button  mat-raised-button color="warn">Save</button>
            </mat-card-actions>
    
    </div>
  <hr>
</mat-card>
</div>
</div>
</div>
<app-videotab></app-videotab>